html,
body,
div,
footer,
img,
ol,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: '微软雅黑';
    font-weight: 300;
}
a
{
    font-size: 26px;

    text-decoration: none;

    color: #818181;
}
li
{
    list-style-type: none;
}

.page
{
    position: absolute;
    right: 0;
    left: 0;

    min-width: 1136px;
    height: 3010px;

    background: #424242;
    /*  background: #fff;*/
}
footer
{
    width: 1133px;
    height: 216px;
    position: relative;
    top: -30px;
    z-index: 1;
    margin: -2px auto 0;

    text-align: center;

    color: #434343;
    background: #242424;
}
h4
{
    font-weight: normal;
}
footer .banner-owner
{
    margin-top: 30px;
    font-size: 18px;

    display: inline-block;

    margin-bottom: 35px;
}
footer .copyright
{
    margin-top: 35px;
}
footer .xingkong
{
    font-size: 20px;
}
footer .xingkong a
{
    font-weight: lighter;
}

.banner
{
    position: relative;

    height: 685px;

    background: url(../images/banner.jpg) center no-repeat;
}

.show
{
    position: absolute;

    overflow: hidden;

    width: 578px;
    height: 366px;
}
.list
{
    position: absolute;

    width: 1836px;
    height: 392px;
}
.img-list
{
    float: left;
}
.mask
{
    font-weight: normal;

    position: absolute;
    top: 4px;
    left: 4px;

    display: none;

    width: 162px;
    height: 162px;

    text-align: center;

    background: rgba(0,160,233,.6);
}
.mask .name
{
    font-size: 32px;

    color: #fff;
}
.mask .grade
{
    font-size: 16px;

    color: #000;
}
.img-list li:hover .mask
{
    display: block;
}


.btn
{
    position: absolute;
    bottom: 86px;

    width: 78px;
    height: 10px;
}
.btn .btn-list
{
    height: 10px;
}
.btn .btn-list li
{
    float: left;

    width: 10px;
    height: 10px;
    margin: 0 8px;

    cursor: pointer;

    border-radius: 50%;
    background: #626262;
}
.btn .btn-list .btn-on
{
    background: #e5e5e5;
}


.cm
{
    position: relative;
    z-index: 6;

    width: 1136px;
    height: 759px;
    margin: -28px auto 0;

    background: url(../images/1.png);
}

.js
{
    position: relative;
    z-index: 3;

    width: 1136px;
    height: 819px;
    margin: -90px auto 0;

    background: url(../images/2.png);
}

.yc
{
    position: relative;

    width: 1136px;
    height: 751px;
    margin: -70px auto 0;

    background: url(../images/3.png);
    z-index: 2;
}

.cm .cm-direction
{
    float: left;

    width: 478px;
    height: 100%;
}
.cm .cm-direction #cm-direction-ul
{
    position: absolute;
    top: 284px;
    left: 82px;
}
.cm .cm-direction #cm-direction-ul li
{
    margin-bottom: 38px;
    padding-left: 23px;
}
.cm .cm-direction #cm-direction-ul .direction-on
{
    background: url(../images/icon.png) center left no-repeat;
}
.cm .cm-direction #cm-direction-ul .direction-on a
{
    color: #fff;
}

.cm .cm-show
{
    position: relative;

    float: left;

    width: 658px;
    height: 100%;
}
.cm .cm-show .show
{
    position: absolute;
    bottom: 108px;
}
.cm .cm-show .img-list
{
    width: 612px;
    height: 392px;
}
.cm .cm-show .img-list li
{
    position: relative;

    float: left;

    width: 170px;
    height: 170px;
    margin-right: 34px;
    margin-bottom: 26px;

/*    background: url(../images/js1.jpg);*/
}

.cm .cm-show .btn
{
    left: 250px;
    bottom: 74px;
}


.js .js-direction
{
    float: right;

    width: 478px;
   /* height: 100%;*/
   height: 660px;
}
.js .js-direction #js-direction-ul
{
    position: absolute;
    top: 332px;
    right: 72px;
}
.js .js-direction #js-direction-ul li
{
    margin-bottom: 38px;
    padding-left: 23px;
    text-align: right;
}
.js .js-direction #js-direction-ul .direction-on
{
    background: url(../images/icon.png) center left no-repeat;
}
.js .js-direction #js-direction-ul .direction-on a
{
    color: #fff;
}

.js .js-show
{
    position: relative;

    float: left;

    width: 658px;
    /*height: 100%;*/
    height: 660px;
}
.js .js-show .show
{
    position: absolute;
    bottom: 50px;
    left: 80px;
}
.js .js-show .img-list
{
    width: 612px;
    height: 392px;
}
.js .js-show .img-list li
{
    position: relative;

    float: left;

    width: 170px;
    height: 170px;
    margin-right: 34px;
    margin-bottom: 26px;

/*    background: url(../images/js1.jpg);*/
}

.js .js-show .btn
{
    left: 343px;
    bottom: 19px;
    width: 52px;
}

.yc .yc-direction
{
    float: left;

    width: 478px;
    height: 100%;
}
.yc .yc-direction #yc-direction-ul
{
    position: absolute;
    top: 304px;
    left: 82px;
}
.yc .yc-direction #yc-direction-ul li
{
    margin-bottom: 38px;
    padding-left: 23px;
}
.yc .yc-direction #yc-direction-ul .direction-on
{
    background: url(../images/icon.png) center left no-repeat;
}
.yc .yc-direction #yc-direction-ul .direction-on a
{
    color: #fff;
}

.yc .yc-show
{
    position: relative;

    float: left;

    width: 658px;
    height: 100%;
}
.yc .yc-show .show
{
    position: absolute;
    bottom: 84px;
}
.yc .yc-show .img-list
{
    width: 612px;
    height: 392px;
}
.yc .yc-show .img-list li
{
    position: relative;

    float: left;

    width: 170px;
    height: 170px;
    margin-right: 34px;
    margin-bottom: 26px;

/*    background: url(../images/js1.jpg);*/
}

.yc .yc-show .btn
{
    left: 263px;
    bottom: 54px;
    width: 52px;
}